<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2">Created by:</div>
                <div class="col-md-10"><a href="https://twitter.com/aouissaoui2009" target="_blank">Nizar AOUISSAOUI</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">GitHub:</div>
                <div class="col-md-10"><a href="https://github.com/NizarSteria/Angular-Users-Management" target="_blank">https://github.com/NizarSteria/Angular-Users-Management</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">Training:</div>
                <div class="col-md-10"><a href="mailto:aouissaoui.nizar@gmail.com" target="_blank">Interested in hands-on AngularJS Training? Contact us for details.</a></div>
            </div>
        </div>
    </div>
</div>
