<nav class="navbar navbar-default navbar-static-top">

  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right" data-deferred-cloak>
    </ul>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
      <div class="navbar-brand" routerLink="/home">
        <span><img src="assets/images/BNP_Paribas_2009.svg"></span> WINGS
      </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="users" routerLinkActive="active">Users</a></li>
        <li><a routerLink="posts" routerLinkActive="active">Posts</a></li>
        <li><a routerLink="about" routerLinkActive="active">About</a></li>
        <li><a routerLink="test" routerLinkActive="active">Test Angular Material</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>

</nav>